// @use 'custom';

// IMPORT THE COMPONENTS 
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';


// IMPORT THE SECTIONS 
@use 'sections/navbar';
@use 'sections/intro-section';
@use 'sections/services';
@use 'sections/testimonials';
@use 'sections/faq';
@use 'sections/portfolio';
@use 'sections/get-started';
@use 'sections/footer';

// FONTS
@font-face {
    font-family: "VazirMatn";
    src: url("../assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "VazirMatn-Bold";
    src: url("../assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
}

*{
    font-family: 'VazirMatn' !important;
    direction: rtl;
    text-align: right;
}
